---
import Layout from "@/layouts/Layout.astro";
import Card from "@/sections/card.astro";
---

<Layout title="Portfolio of Dante Vilchez">
  <main>
    <Card />
  </main>
</Layout>

<style is:global>

  .center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  body {
    background: linear-gradient(to left, #1730AC 0%, #008ECB 100%);;
  }

</style>
