---
import Layout from "@/layouts/Layout.astro";
import Card from "@/sections/card.astro";
---

<Layout title="Portfolio of Dante Vilchez">
  <main>
    <Card />
  </main>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
  }
</style>
