---
import "@fontsource-variable/azeret-mono";
import MapPinIcon from "@/components/svgs/MapPinIcon.astro";
import PhoneCall from "@/components/svgs/PhoneCall.astro";
import UserIcon from "@/components/svgs/UserIcon.astro";
import EmailIcon from "@/components/svgs/EmailIcon.astro";
import PointIcon from "@/components/svgs/PointIcon.astro";
import imagenSrc from '../assets/foto.png'

const info = {
  fullname: "Dante Vilchez",
  role: "FullStack Developer",
  email: "dantevilchez860@gmail.com",
  phone: "+51 948137905",
  addrees: "Lima, Perú",
};

---

<section class="bg-none fixed -z-10 grid place-items-center h-screen w-screen p-5">
  <div
    class="relative grid areas h-[560px] aspect-card-h sm:px-2 md:p-4 lg:p-6 overflow-hidden sm:max-w-[1200px] sm:w-full sm:h-auto sm:aspect-card bg-white rounded-xl md:rounded-2xl shadow hover:bg-gray-100 dark:bg-slate-900 dark:border-gray-700 dark:hover:bg-slate-900"
  > 
    <!--
      vertical: barra horizontal inferior derecha
      horizontal: barra vertical centrado al ancho de la card(tarjeta)
    -->
    <div
      class="hidden absolute bottom-0 right-0 w-[20%] h-[2.5%] rounded-md bg-blue-gradient
      sm:block sm:top-1/2 sm:left-1/2 sm:-translate-x-1/2 sm:-translate-y-[50%] sm:h-[56%] md:h-1/2 sm:w-[6%]"
    >
    </div>
    <header class="area-data-1 relative">
      <div class="absolute w-full bottom-[10%] sm:bottom-[18%]">
        <div class="relative w-full flex items-center sm:flex-row-reverse">
          <span
            class="flex items-center justify-center rounded-r-full bg-blue-gradient p-2 pr-3 sm:bg-none sm:rounded-full sm:p-0 sm:translate-x-[50%]"
          >
            <UserIcon class="text-white w-6 md:w-7 lg:w-9" />
          </span>
          <h1
            class="max-[640px]:left-1/2 max-[640px]:-translate-x-1/2 max-[640px]:absolute typed-text w-max mx-auto font-bold tracking-tighter text-3xl lg:text-4xl min-[1150px]:text-[40px] sm:pl-[6%]"
          >
          Dante Vilchez
          </h1>
        </div>
        <h2
          class="text-xl text-center text-slate-600 dark:text-gray-300 sm:text-xl lg:text-2xl"
        >
          FullStack Developer
        </h2>
      </div>
    </header>
    <aside
      class="area-data-2 flex flex-col gap-2 font-normal text-gray-700 dark:text-gray-400 sm:gap-[8%]"
    >
      <div class="relative w-full flex items-center sm:flex-row-reverse">
        <span
          class="clip-path flex items-center justify-center pl-3 pr-5 py-3 bg-blue-gradient sm:bg-none sm:rounded-full sm:p-0 sm:translate-x-[50%]"
        >
          <EmailIcon class="text-white w-6 lg:w-9" />
        </span>
        <div
          class="w-1/2 overflow-hidden max-[640px]:absolute top-1/2 left-20 max-[640px]:-translate-y-1/2 sm:w-full sm:text-center"
        >
          <p class="text-lg">{info.email}</p>
        </div>
      </div>
      <div class="relative w-full flex items-center sm:flex-row-reverse">
        <span
          class="clip-path flex items-center justify-center pl-3 pr-5 py-3 bg-blue-gradient sm:bg-none sm:rounded-full sm:p-0 sm:translate-x-[50%]"
        >
          <PhoneCall class="text-white w-6 lg:w-9" />
        </span>
        <div class="w-1/2 overflow-hidden max-[640px]:absolute top-1/2 left-20 max-[640px]:-translate-y-1/2 sm:w-full sm:text-center">
          <p class="text-lg">{info.phone}</p>
        </div>
      </div>
      <div class="relative w-full flex items-center sm:flex-row-reverse">
        <span
          class="clip-path flex items-center justify-center pl-3 pr-5 py-3 bg-blue-gradient sm:bg-none sm:rounded-full sm:p-0 sm:translate-x-[50%]"
        >
          <MapPinIcon class="text-white w-6 lg:w-9" />
        </span>
        <div class="w-1/2 overflow-hidden max-[640px]:absolute top-1/2 left-20 max-[640px]:-translate-y-1/2 sm:w-full sm:text-center">
          <p class="text-lg">{info.addrees}</p>
        </div>
      </div>
      <div class="w-full sm:pr-[6%]"> 
        <span class="sparkle w-max mx-auto flex items-center gap-1 bg-blue-100 text-blue-gradient text-sm font-medium px-2.5 py-0.5 rounded dark:bg-gray-700/50 dark:text-blue-400 border-2 border-blue-gradient lg:text-base ">
          <PointIcon class="h-4"/>
          Disponible
        </span>
      </div>
    </aside>
    <figure class="area-image py-3 flex items-center">
      <div
        class="h-full rounded-3xl -translate-y-[4%] overflow-hidden aspect-square sm:h-auto sm:size-60 md:size-72 lg:size-96 mx-auto"
      >
        <img
          class="h-full"
          src={imagenSrc.src}
          alt="photo Dante's"
        />
      </div>
    </figure>
  </div>
</section>
<!-- <script src="@/utilities/typing.js"></script> -->

<style is:inline>
  section > div {
    background: linear-gradient(to right, #071332, #15293d);
  }

  .clip-path {
    clip-path: polygon(0 0, 78% 0, 100% 100%, 0% 100%);
  }

  .areas {
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-areas:
      "data1"
      "image"
      "data2";
  }

  .area-data-1 {
    grid-area: data1;
  }

  .area-data-2 {
    grid-area: data2;
  }

  .area-image {
    overflow: hidden;
    grid-area: image;
  }

  h1 {
    font-family: "Azeret Mono Variable", monospace;
    background: linear-gradient(to left, #0479FF 0%, #00CCFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (width >= 640px) {
    .areas {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: .9fr 1fr;
      grid-template-areas:
        "data1 image"
        "data2 image";
    }

    .clip-path {
      clip-path: none;
    }
    
    .area-image {
      padding-left: 8%;
    }
  }

  .sparkle {
    animation: sparkle-animation 1s infinite;
  }

  @keyframes sparkle-animation {
  0% {
    box-shadow: 0 0 0 transparent;
    transform: scale(1);
  }
  50% {
    box-shadow: 0 0 20px rgba(18, 238, 253, 0.3);
    transform: scale(1.05);
  }
  100% {
    box-shadow: 0 0 0 transparent;
    transform: scale(1);
  }
}
</style>
